<div id="bottompane">
	<span class = "help-inline"><%= flash[:notice] %> </span>
	<h2> Change Password </h2>
	 <div class="editform">
	<% form_tag( {:controller => 'login', :action => "save_password" }, {:id => 'change_password_form', :name => 'change_password_form', :class => 'form-horizontal'} ) do %>
	<p>
		<label>Old Password </label><%= password_field_tag :old_password %>
	</p>
	<p>
	 	<label>New Password </label><%= password_field_tag :new_password %>
	</p>
	<p>
		<label>Confirm Password</label><%= password_field_tag :confirm_password %>
	</p>
	<%= submit_tag 'Change Password', :onclick => "return validateChangePassword();", :class => "btn" %>
	<% end %>
	</div>
</div>		