<style type="text/css">
select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
outline: thin dotted #333;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
}
select {
width: 220px;
border: 1px solid #cccccc;
background-color: #ffffff;
}

#bottompane h1 {
  

}
label.required:after {
  content: "*";
  color: red;
}

#errorpane {
  color: red;
}
</style>

<% transaction ||= @transaction %>
<div id="bottompane">
  <div id="errorpane">
    <%= flash[:notice] %>
    <% if transaction && transaction.errors.any? %>
    <ul>
      <% transaction.errors.full_messages.each  do |message| %>
        <li> <%= message %> </li>
        <% end %>
    </ul>
    <% end %>
  </div>
  <h1> Create Request </h1>
<div class="editform">
  <p>
  <% form_for (@service_transactions, :url =>"/request") do |f| %>
  
    <span style="float:left;margin-right:10px"><label class="required">Service:</label></span>

<%#= select("service_transactions", :service_id, TypesOfService.all.collect{ |s| [s.service_name, s.id]}, {:include_blank => 'Select a service', :id => "serviceselect"}) %>

    <%= select_tag(:service_id, "<option value="">Select Service</option>"+options_from_collection_for_select(@services, 'id', 'service_name'), { :id => "serviceselect"}) %><br/>

<!--<span style="color:red;">*</style>-->
    <div id="labordiv" >
      <span style="float:left;margin-right:10px">Labor: </span><%= f.select(:labor_id, options_for_select([['Select a labor', '']]), {}, {:disabled => true}) %><br/>
    </div>


    <span style="float:left;margin-right:10px">
      <label class="required"> Date:</label>
    </span>
    
    <% my_select = f.date_select(:date, :prompt => true, :start_year => Time.now.year, :end_year => Time.now.year+2) %>
    <%= my_select.gsub(/select/, "select class='input'") %><br/>

    <span style="float:left;margin-right:10px">
      <label class="required">Time:</lable> <span style="color:blue;width:250px">(should be between 8 Hrs and 20 Hrs)</span>
    </span>
    
    <% my_select = select_time(Time.now, :prefix => "time", :ignore_date => true, :time_separator => ': ', :prompt => true) %>
    <%= my_select.gsub(/select/, "select class='input'") %> 

    <br/> <!-- this is to add css property to reduce the width -->
     
     <span style="float:left;margin-right:10px">
      <label class="required"> Description:</label><br/>(max 200 chars)
      
    </span><%= f.text_area 'description', :size=>"30x5", :maxlength => 200 %><br/>
     
    <span style="float:left;margin-right:10px">
      <label class="required">Address: </label>
    </span><%= f.text_field 'address' %><br/>
  <br/>
  <%#= submit_tag 'Submit', :onclick => "clickevent();return false;" %>
  <div style="margin-left: 200px">
    <%= submit_tag 'Submit', :class=> "btn btn-info" %>
</div>
  <% end %>
</p>
</div>
<script>


$("div select#serviceselect").on("change", function(){
    //alert("search on click");
    $.ajax({
      url: '<%= getlaborlist_request_path %>',
      data: 'serviceid=' + $(this).val(),
      dataType: 'json',
      success: function(result) {
        var str="";
        if(result.length <1){
           str = "";
          select = $('#service_transactions_labor_id');
         // select.disabled="disabled";
          select.html($('<option></option>').html("Select a labor"));
        
        }

        else {
          var arr=[];
          $.each(result, function(i,v){
            arr.push(v["labor"]["labor_name"]);
          });
          //alert(arr);
          str = "<span style=\"float:left;margin-right:10px\">Labor: </span>";

          // str += '<%= select_tag(:labor_id, options_for_select('arr')) %>';
          //   str.replace('arr', arr);
          // str += "<br/>";


          populateDropdown($("#service_transactions_labor_id"), result);
        //$('#labordiv').first().html(str);
      }
    } // s
    });
  });

      function populateDropdown(select, data) {
        //select.html('');
        select.removeAttr("disabled");
        select.html("");
        $.each(data, function(id, option) {
            select.append($('<option></option>').val(option["labor"].id).html(option["labor"].labor_name));
        });      
    }

function clickevent()
{

 alert('Your request is in progress and  your service request no is XXXXX');

}




</script>




        