<div id="bottompane">
    <%= flash[:notice] %>
  <h1> Create Request </h1>
<div class="editform">
  <p>
  <% form_for(:service_transactions, :url =>"/request" , :method => "post") do |f| %>
  
    <span style="float:left;margin-right:10px">Service: </span><%= select_tag(:service_id, options_from_collection_for_select(@services, 'id', 'service_name', 1), :id => "serviceselect") %><br/>


    <div id="labordiv" >
      <span style="float:left;margin-right:10px">Labor: </span><%= f.select(:labor_id, options_for_select([['Select a labor', '']]), {:disabled => true}) %><br/>
    </div>


    <span style="float:left;margin-right:10px">Date:</span>
    <% my_select = f.date_select(:date, :prompt => true) %>
    <%= my_select.gsub(/select/, "select class='input'") %><br/>

    <span style="float:left;margin-right:10px">Time:</span>
    
    <% my_select = select_time(Time.now, :prefix => "time", :ignore_date => true, :time_separator => ': ', :prompt => true) %>
    <%= my_select.gsub(/select/, "select class='input'") %> <br/> <!-- this is to add css property to reduce the width -->
     
     <span style="float:left;margin-right:10px">Description: </span><%= f.text_area 'description', :size=>"30x5"%><br/>
      <span style="float:left;margin-right:10px">Address: </span><%= f.text_field 'address' %><br/>
  <%#= submit_tag 'Submit', :onclick => "clickevent();return false;" %>
  <%= submit_tag 'Submit', :confirm => "Your request is in progress and your service request no is XXXX", :class => "btn" %>
  <% end %>
</p>
</div>
<script>


$("div select#serviceselect").on("change", function(){
    //alert("search on click");
    $.ajax({
      url: '<%= getlaborlist_request_path %>',
      data: 'serviceid=' + $(this).val(),
      dataType: 'json',
      success: function(result) {
        var str="";
        if(result.length <1){
          str="";
          $('#labordiv').first().html(str);
        
        }

        else {
          var arr=[];
          $.each(result, function(i,v){
            arr.push(v["labor"]["labor_name"]);
          });
          //alert(arr);
          str = "<span style=\"float:left;margin-right:10px\">Service: </span>";

          // str += '<%= select_tag(:labor_id, options_for_select('arr')) %>';
          //   str.replace('arr', arr);
          // str += "<br/>";


          populateDropdown($("#service_transactions_labor_id"), result);
        //$('#labordiv').first().html(str);
      }
    } // s
    });
  });

      function populateDropdown(select, data) {
        //select.html('');
        select.removeAttr("disabled");
        $.each(data, function(id, option) {
            select.append($('<option></option>').val(option["labor"].id).html(option["labor"].labor_name));
        });      
    }

function clickevent()
{
 alert('Your request is in progress and  your service request no is XXXXX');
}




</script>




        