<div id="bottompane">

  
    <span style="float:left;margin-right:10px">Service: <%= TypesOfService.getname(@transaction.service_id) %></span><br/>

    <span style="float:left;margin-right:10px">Date: <%= @transaction.date %></span><br/>
   
    <span style="float:left;margin-right:10px">Time:<%= @transaction.time %></span><br/>
       
     <span style="float:left;margin-right:10px">Description: <%= @transaction.description %></span><br/>
      <span style="float:left;margin-right:10px">Address: <%= @transaction.address %></span><br/>
  