<div id="bottompane">

  <p>
    <span style="float:left;font-weight:bold;width:80px;">Service: </span><span style="margin-left:10px;">&nbsp;<%= TypesOfService.getname(@transaction.service_id) %></span><br/></p>
<p>
    <span style="float:left;font-weight:bold;width:80px;">Date:</span><span style="margin-left: 10px;"> &nbsp;<%= @transaction.date %></span><br/>
   </p>
   <p>
    <span style="float:left;font-weight:bold;width:80px;">Time:</span><span style="margin-left: 10px;">&nbsp;<%= @transaction.time %></span>
      </p>
      <br/><br/>
      <p> 
     <span style="float:left;font-weight:bold;width:80px;">Description: </span><span style="margin-left: 10px;">&nbsp;<%= @transaction.description %></span><br/>
 </p>
 <p>
      <span style="float:left;font-weight:bold;width:80px;">Address: </span><span style="margin-left: 10px;">&nbsp;<%= @transaction.address %></span><br/>
  </p>
  