<style type="text/css">
table.searchtable {
	/*border-collapse: seperate;*/
	/*border-spacing: 45px;*/
}
 table.searchtable td {
 	padding: 15px;
 }
</style>



<div id="bottompane"> <!-- {:controller => 'labor', :action => 'dosearch'}-->

<%# form_remote_tag(:url => {:action => 'dosearch'},
    :html => {:id => 'search_form', :method => :get}, :method => :get) do %>
	<% form_tag dosearch_labor_path, :id => 'search_form' do  %> 
		Search <%= select_tag(:service_id,  options_for_select([['User', 1], ['Labourer',2], ['Request', 3]], :selected => 1), :id=>"searchselect" ) %><br/>

		<div id="searchdiv">
			<table class="searchtable" id="searchtableid"> <!-- cellpadding="10px" -->
			<tr>
				<td>
				<%= radio_button_tag(:search, "User_name", :checked) %>
				<span style="float:right"><%= label_tag(:search_name, "name") %></span>&nbsp;
			</td>
			<!-- <td>
				<%#= radio_button_tag(:search, "city") %>
				<span style="float:right"><%= label_tag(:search_city, "city") %></span>&nbsp;
			</td> -->
			<td>
				<%= radio_button_tag(:search, "User_phone") %>
				<span style="float:right"><%= label_tag(:search_phone, "phone") %></span>&nbsp;
			</td>
			<td>
				<%= radio_button_tag(:search, "User_email") %>
				<span style="float:right"><%= label_tag(:search_email, "email") %></span>&nbsp;
			</td>
			</tr>
			
			</table>
		
			<div id="statusbox" style="display:none">
				<%= select_tag(:searchstatus, options_for_select([['active', 1],['inactive', 2]]), :size => 2) %>
			</div>
			<div id="textboxfield">
				<input id="searchinput" type="text" name="searchinput" data-provide="typehead" class="User_name"></input><br/>
			</div>
		
			<input name="submit" class="btn" type="submit" onclick="clickevent();return false;" value="Search">
				<%#= submit_tag "Search", :onclick => "$('#search_result').show();return false;" %>
			
	</div>

		<div id="search_result" style="display:none;margin-top:50px;position:relative;left:-100px;">

			<%= render :partial =>  'labor/index' %>	
		</div>

<% end %>
</div>


<script>

$(document).on('click', "input:radio[value='Labourer_status']", function() { 

	$.post("getstatus", {name: "Labourer"}, function(data){
		//alert(data);
	//var str = "<%= select(:status, options_for_select('data'), :size => 2).to_json %>";
	var str = "<select id=\"searchstatus\" size=\"2\" name=\"status\">";
	str +=  "<option value=\"1\">"+ data[0] + "</option><option value=\"2\">" + data[1] +"</option>";
	str += "</select>";
	$('#statusbox').html(str);
	$('#statusbox').show();
	$('#textboxfield').hide();
	}, "json");

});

$(document).on('click', "input:radio[value='Request_status']", function() { 

	$.post("getstatus", {name: "Request"}, function(data){
		//alert(data);
	
	var str = "<select id=\"searchstatus\" size=\"2\" name=\"status\">";
	for(i=0; i < data.length; i++){
		str +=  "<option value=\""+i+"\">"+ data[i] + "</option>";
	}
	 
	str += "</select>";
	$('#statusbox').html(str);
	$('#statusbox').show();
	$('#textboxfield').hide();

	}, "json");

	

});


$(document).on('click', "input:radio[value='Request_service']", function() { 

//ajax request 
	$.post("populateservice", {name: "Request"}, function(data){
		//alert(data[0]['types_of_service'].service_name);
	
	var services = <%= @services.to_json %>;
	
	var str = "<select id=\"searchstatus\" size=\"2\" name=\"status\">";
	for(i=0; i < data.length; i++){
		str +=  "<option value=\""+data[i]['types_of_service'].id+"\">"+ data[i]['types_of_service'].service_name + "</option>";
	}
	 
	str += "</select>";
	$('#statusbox').html(str);
	$('#statusbox').show();
	$('#textboxfield').hide();

	}, "json");  

	

});


$(document).on('click', "input:radio", function(){
	$('#textboxfield input').val("");

	$('#textboxfield input').attr("name", $("input:radio:checked").val());

});

$(document).on('click', "input:radio[value='User_phone'], input:radio[value='Labourer_phone']", function(){
	
	$(document).on('keyup', "#textboxfield input[name='User_phone'], #textboxfield input[name='Labourer_phone']", (function()
	 {
	 	
		if (/\D/g.test(this.value))
    	{
    		//alert(this.value);
			this.value = this.value.replace(/\D/g, '');
		}
}));
});

$(document).on('click', "input:radio[value!='status']", function() { 
//alert("here");
	$('#statusbox').hide();
	$('#textboxfield').show();

});






$("div select#searchselect").on("change", function(){
		$.ajax({
			url: '<%= getsearchoptions_labor_path %>',
			data: 'serviceid=' + $(this).val(),
			dataType: 'json',
			success: function(result) {
				//alert(result);
				//alert(result[0]);
				var str="";
				if(result.length <1){
					str="";
					$('#searchtableid').first().html(str);
					$('#textboxfield').html(str);
				}

				else {
					var type = $('#searchselect option:selected').text();
				for(i=0; i < result.length; i++)
				{
					str += "<td><input type=\"radio\" id=\"search_"+result[i]+"\" name=\"search\" value=\""+type+'_'+result[i]+"\"><span style=\"float:right\"><label for=\"search_"+result[i]+"\">"+result[i]+"</label></span>&nbsp;</td>"
					
				}
				$('#searchtableid').first().html(str);
				$('#searchtableid input').first().attr('checked', true);
				$('#statusbox').hide();
				str = "<input id=\"searchinput\" type=\"text\" name=\"searchinput\"></input><br/>";
				$('#textboxfield').html(str);
				$('#textboxfield').show();
				$("#search_result").html(null);
			    
			}
		} // s
		});
	});

function clickevent()
{

	if($('#searchinput').is(":visible")){

		strdata = "service_id="+ $('#search_form').find("select").val() + ";criteria=" + $('#search_form input[name=search]:checked').val() + ";query=" + $('#searchinput').val();
	}
	else if($('#statusbox').is(":visible")){
		// if(  $('#search_form').find("select").val() == '3')	
		// 	strdata = "service_id="+ $('#search_form').find("select").val() + ";criteria=" + $('#search_form input[name=search]:checked').val() + ";query=" + $('#searchstatus option:selected').val();	
		// else if ( $('#search_form').find("select").val() == '2')	
			strdata = "service_id="+ $('#search_form').find("select").val() + ";criteria=" + $('#search_form input[name=search]:checked').val() + ";query=" + $('#searchstatus option:selected').text();
	}

	$.ajax({
		//url: $(this).attr('action'), //sumbits it to the given url of the form
		url: '<%= dosearch_labor_path  %>',
		dataType: 'html',
		data: strdata,
		success: function (result) {
			alert("in ajax call" + result);
			$("#search_result").html(result);
			$("#search_result").show();
		}
	});


		//$("#search_result").html("<%= escape_javascript(render(:partial => "index" ))%>");
}
</script>





<!--

		<td>
			<%#= radio_button_tag(:search, "userid") %>
			<span style="float:right"><%#= label_tag(:search_userid, "userid") %></span>&nbsp;
		</td>
		<td>
	 		<%#= radio_button_tag(:search, "username") %>
			<span style="float:right"><%#= label_tag(:search_username, "username  ") %></span>&nbsp;
		</td>
		<td>
			<%#= radio_button_tag(:search, "city") %>
			<span style="float:right"><%#= label_tag(:search_city, "city") %></span>&nbsp;
		</td>
		<td>
			<%#= radio_button_tag(:search, "phone") %>
			<span style="float:right"><%#= label_tag(:search_phone, "phone number") %></span>&nbsp;
		</td>


<td>
					<%#= radio_button_tag(:search, value) %>
					<span style="float:right"><%#= label_tag("search_"+value, value) %></span>&nbsp;
				</td>

				-->