 <ul class="nav">
        <a class="brand" href="/">Insignia</a>
        <li class="dropdown">
        <a class="dropdown_toggle" data-toggle="dropdown" href="#">Service<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" >
          <li role="presentation"><%= link_to "Add Service", '/admin/addservice' %></li>
          <li role="presentation"><%= link_to "View Service", '/admin/viewservice' %></li> <!-- '/services/types/list -->
        </ul>     
      </li>
      <li>
        <a href="/labor/search">Search</a>
      </li>
      <li class="dropdown">
        <a class="dropdown_toggle" data-toggle="dropdown" href="#">Reports<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" >
          <li role="presentation"><%= link_to "All Users", usersreport_report_path %></li>
          <li role="presentation"><%= link_to "All Services", servicesreport_report_path %></li>
          <li role="presentation"><%= link_to "All Requests", requestreport_report_path %></li>
          <li role="presentation"><%= link_to "All Labours", laborreport_report_path %></li>
          <li role="presentation"><%= link_to "All Feedbacks", feedbackreport_report_path %></li>
        </ul>     
      </li>
      <li class="dropdown">
        <a class="dropdown_toggle" data-toggle="dropdown" href="#">Labours<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" >
          <li role="presentation"><%= link_to "Add Labour", new_labor_path %></li>
          <li role="presentation"><%= link_to "View Labour", '/labor/show' %></li>
        </ul>     
      </li>
  </ul>
  <ul class="nav pull-right">
    <li style="font-size:16px;font-weight:bold;"><a>Welcome <%= session[:username]  %></a></li>
    <li><%= link_to "Change Password", '/admin/change_password' %></li>
    <li><%= link_to 'Logout', '/login/logout' %> </li>
  </ul>