
<div id="bottompane">
	<span class = "help-inline"><%= flash[:notice] %> </span>
	<h2> Change Password </h2>
	<% form_tag( {:controller => 'admin', :action => "save_password" }, {:id => 'change_password_form', :name => 'change_password_form'} ) do %>
	<p>
		<label>Old Password<br/> <%= password_field_tag :old_password %></label>
	</p>
	<p>
	 	<label>New Password<br/> <%= password_field_tag :new_password %></label>
	</p>
	<p>
		<label>Confirm Password<br/> <%= password_field_tag :confirm_password %></label>
	</p>
	<%= submit_tag 'Change Password', :onclick => "return validateChangePassword();" %>
	<% end %>
</div>	