<a class='inline' href="#inline_content">[X]</a>

<div id="colorbox"  style="display: none; visibility: visible; top: 88px; left: 281px; position: absolute; width: 742px; height: 513px; opacity: 1; cursor: auto;">
  <div style='display:none'>
     <div id='inline_content' class="container" style="<%= 'display:none' if controller.action_name== 'create_user'%>" >
        <span class="help-inline"><%= flash[:notice] %></span>
         <div style="float:left">
         <h2>Login</h2>
     </div>
         <%= image_tag("index.jpeg", :size => "100x50") %>
        <div class="myform">
           
        <% form_tag( login_path, :id => 'login_form', :name => 'login_form') do %>
            <%= label_tag 'username' %>
            <input type="text" name="username"><br/>
            <%= label_tag 'password' %>
            <%= password_field_tag 'password' %><br/>
            <%= submit_tag 'Login' , :onclick => "return validateLogin();", :class => "btn btn-success" %> 
           <%end%>
    </div>
</div>
</div>


<script>
  $(document).ready(function(){
    $(".inline").colorbox({inline:true, width:"500"});
  });
</script>


