<div id="bottompane">
	<span class="help-inline"><%= flash[:notice] %></span>
	<% if @userdetails && @userdetails.errors.any? %>
		<ul>
      		<% @userdetails.errors.full_messages.each  do |message| %>
        	<li> <%= message %> </li>
        	<% end %>
    	</ul>
    <% end %>
	<span class="header"><h2> Customer Registration </h2></span>
	<%= form_tag :action => 'create_user' %>
		<p><b><%= label_tag :username, 'Username' %></b><%= text_field_tag :username, params[:username] %></p>
 		<p><b><%= label_tag :password, 'Password' %></b><%= password_field_tag  :password %><p>
  		<p><b><%= label_tag 'Password Confirmation' %></b><%= password_field_tag :password_confirmation %></p>
		<p><b><%= label_tag 'First Name' %></b><%= text_field_tag 'firstname', params[:firstname] %> </p>
   		<p><b><%= label_tag 'Last Name' %></b><%= text_field_tag  'lastname', params[:lastname] %></p>
		<p><b><%= label_tag 'Birthday (mm/dd/yyyy)' %></b><%= text_field_tag 'birthday', params[:birthday] %></p>
	  	<p><b> <%= label_tag 'Email address' %></b><%= text_field_tag 'email', params[:email] %></p>
	   	<p><b><%= label_tag 'Phone' %></b><%= text_field_tag  'phone', params[:phone] %></p>
	  <%= submit_tag "Submit" %>
</div>